<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%= title %> </title>
        <link rel="stylesheet" href="/style.css">
        <link href="/tailwind-built.css" rel="stylesheet">
    </head>
    <body class="flex flex-col min-h-screen bg-gray-100">
        <div class="container">
       
            <header>
                <div class="headCont">
                    <%- include('headerFooter/header') %>
                </div>
            </header>
            <main class="indexMain" id="indexMain" aria-labelledby='indexMain'>
                <div class="flex items-center mb-4">
                    <a href="/drive/<%= file.folderId %>"
                        class="text-blue-600 hover:text-blue-800 font-medium flex items-center space-x-2">
                        <span class="text-base"> ← Back to <%= file.folder.name %> </span>
                    </a>
                </div>
               
                <div class="bg-white p-6 rounded-lg shadow-md flex flex-col">
                    <h2 class="text-3xl font-bold text-gray-800 mb-6"> <%= file.name %> </h2>
                    <ul class="space-y-2 text-gray-600">
                        <li> <span class="font-semibold text-gray-700">Size:</span> <%= file.formattedSize %> </li>
                        <li> <span class="font-semibold text-gray-700">Created At:</span> <%= file.createdAt %> </li>
                        <li> <span class="font-semibold text-gray-700">Updated At:</span> <%= file.updatedAt %> </li>
                    </ul>
                    <div class="w-[200px] mt-6 self-end">
                        <a href="/drive/file/<%= file.id %>/download"
                            class="flex items-center bg-blue-600 text-white py-3 px-6 rounded-lg shadow-md hover:bg-blue-700 transition duration-150 ease-in-out">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                            </svg>   
                            Download
                        </a>
                    </div>
                </div>
                
            </main>
            
            <%- include('headerFooter/footer') %>

        </div>
    </body>
</html>